<!-- BOTTOM NAV FIXA MOBILE -->
<nav
    class="bottom-nav lg:hidden fixed bottom-0 left-0 right-0 h-16 bg-[#232220] border-t border-[#38362f] flex z-40">
    <button
        class="bottom-nav__item flex-1 flex flex-col items-center justify-center gap-0.5 border-none bg-transparent text-[#9fe1cb] text-[10px] cursor-pointer relative"
        data-aba="inicio" onclick="irParaAba('inicio')">
        <span class="text-lg">{% include "componetizacao/icones/icone-inicio.html" %}</span> Início
    </button>
    <button
        class="bottom-nav__item flex-1 flex flex-col items-center justify-center gap-0.5 border-none bg-transparent text-[#888780] text-[10px] cursor-pointer relative"
        data-aba="agenda" onclick="irParaAba('agenda')">
        <span class="text-lg">{% include "componetizacao/icones/icone-agenda.html" %}</span> Agenda
    </button>
    <button
        class="bottom-nav__item flex-1 flex flex-col items-center justify-center gap-0.5 border-none bg-transparent text-[#888780] text-[10px] cursor-pointer relative"
        data-aba="servicos" onclick="irParaAba('servicos')">
        <span class="text-lg">{% include "componetizacao/icones/icone-servico.html" %}</span> Serviços
    </button>
    <button
        class="bottom-nav__item flex-1 flex flex-col items-center justify-center gap-0.5 border-none bg-transparent text-[#888780] text-[10px] cursor-pointer relative"
        data-aba="configuracoes" onclick="irParaAba('configuracoes')">
        <span class="text-lg">{% include "componetizacao/icones/icone-configuracao.html" %}</span> Configurações
    </button>
    <!-- <button class="bottom-nav__item flex-1 flex flex-col items-center justify-center gap-0.5 border-none bg-transparent text-[#888780] text-[10px] cursor-pointer relative" data-aba="mais" onclick="abrirMenuMais()">
    <span class="text-lg">⋯</span> Mais
</button> -->
</nav>