<!-- SIDEBAR DESKTOP -->
<aside id="sidebar"
    class="hidden md:flex md:flex-col md:w-64 md:h-screen md:sticky md:top-0 shrink-0 bg-[#232220] border-r border-[#38362f]">

    <!-- Logo -->
    <div class="block items-center px-5 py-5 border-b border-[#38362f]">
        {% set logo_class="h-16 md:h-20 lg:h-24" %}
        {% include "componetizacao/logo/logo-top-horizontal.html" %}
        <h1 class="mt-4 text-2xl font-bold">Painel Administrativo</h1>

    </div>

    <!-- Navegação Desktop -->
    <nav class="flex flex-col p-3 gap-1 overflow-y-auto">
        <a href="/gestor/painel">
            <button
                class="sidebar-func__item flex items-center gap-2.5 p-2.5 px-3 rounded-lg border-none bg-[#2a2825] text-[#f1efe8] font-medium text-sm cursor-pointer text-left w-full transition-colors"
                data-aba="inicio">
                <span class="text-lg w-5.5 text-center">🏠</span> Início
            </button>
        </a>
        <a href="/gestor/painel/agenda">
            <button
                class="sidebar-func__item flex items-center gap-2.5 p-2.5 px-3 rounded-lg border-none bg-transparent text-[#888780] font-medium text-sm cursor-pointer text-left w-full transition-colors hover:bg-[#2a2825] hover:text-[#f1efe8] {{ 'bg-[#2a2825] text-[#f1efe8]' if aba_atual == 'barbeiros' else 'bg-transparent text-[#888780]  hover:bg-[#2a2825] hover:text-[#f1efe8]' }}"
                data-aba="agenda" >
                <span class="text-lg w-5.5 text-center">📅</span> Agenda
            </button>
        </a>
        <a href="/gestor/painel/servicos">
            <button
                class="sidebar-func__item flex items-center gap-2.5 p-2.5 px-3 rounded-lg border-none bg-transparent text-[#888780] font-medium text-sm cursor-pointer text-left w-full transition-colors hover:bg-[#2a2825] hover:text-[#f1efe8] {{ 'bg-[#2a2825] text-[#f1efe8]' if aba_atual == 'barbeiros' else 'bg-transparent text-[#888780]  hover:bg-[#2a2825] hover:text-[#f1efe8]' }}"
                data-aba="servicos" >
                <span class="text-lg w-5.5 text-center">✂️</span> Serviços
            </button>
        </a>
        <a href="/gestor/painel/barbeiros">
            <button
                class="sidebar-func__item flex items-center gap-2.5 p-2.5 px-3 rounded-lg border-none bg-transparent text-[#888780] font-medium text-sm cursor-pointer text-left w-full transition-colors hover:bg-[#2a2825] hover:text-[#f1efe8] {{ 'bg-[#2a2825] text-[#f1efe8]' if aba_atual == 'barbeiros' else 'bg-transparent text-[#888780]  hover:bg-[#2a2825] hover:text-[#f1efe8]' }}"
                data-aba="barbeiros">
                <span class="text-lg w-5.5 text-center">👤</span> Barbeiros
            </button>
        </a>
        <a href="/gestor/painel/clientes">
            <button
            class="sidebar-func__item flex items-center gap-2.5 p-2.5 px-3 rounded-lg border-none bg-transparent text-[#888780] font-medium text-sm cursor-pointer text-left w-full transition-colors {{ 'bg-[#2a2825] text-[#f1efe8]' if aba_atual == 'clientes' else 'bg-transparent text-[#888780]  hover:bg-[#2a2825] hover:text-[#f1efe8]' }}"
            data-aba="clientes">
            <span class="text-lg w-5.5 text-center">👥</span> Clientes
        </button>
        </a> 
        <!-- <button class="sidebar-func__item flex items-center gap-2.5 p-2.5 px-3 rounded-lg border-none bg-transparent text-[#888780] font-medium text-sm cursor-pointer text-left w-full transition-colors hover:bg-[#2a2825] hover:text-[#f1efe8]" data-aba="financeiro" onclick="irParaAba('financeiro')">
        <span class="text-lg w-5.5 text-center">💰</span> Financeiro
    </button> -->
    </nav>

    <!-- foto do gestor, nome e logout-->
    <div class="mt-auto mx-3 mb-5 px-4 py-3 rounded-lg border border-[#38362f] bg-transparent">

        <div class="flex items-center gap-3">

            <!-- Avatar -->
            <div
                class="w-10 h-10 shrink-0 rounded-full bg-[#38362f] flex items-center justify-center overflow-hidden">

                {% if session.get('dados_gestor')['foto_path'] %}

                <img src="{{ url_for('static', filename=session.get('dados_gestor')['foto_path']) }}"
                    alt="Avatar" class="w-full h-full object-cover">

                {% else %}

                <span class="text-sm font-bold text-[#f1efe8]">
                    {{ session.get('dados_gestor')['nome_completo'][0]|upper }}
                    <!-- Pega a primeira letra do nome-->
                </span>

                {% endif %}

            </div>

            <!-- Nome + Sair -->
            <div class="min-w-0">

                <div class="w-full">
                    <p class="text-sm font-medium text-[#f1efe8]">
                        {{ session.get('dados_gestor')['nome_completo'].split(' ')[0]
                        }}<!-- Aplica um split no espeço em branco e pega o primeiro nome -->
                    </p>
                </div>

                <a href="/gestor/logout"
                    class="text-xs text-[#888780] hover:text-[#f1efe8] transition-colors">
                    Sair
                </a>

            </div>

        </div>

    </div>
</aside>