  <header class="sticky top-0 z-30 flex items-center justify-between px-5 py-3 bg-[#232220] border-b border-[#38362f]">
               <!-- logo componente reutilização-->
             {% include "componetization/logo/logo-top-horizontal.html" %}
        <button 
            class="h-10 px-4 rounded-[10px] border border-[#4a473f] bg-transparent text-[#f1efe8] text-[14px] font-medium cursor-pointer transition-colors hover:bg-[#38362f] flex items-center gap-2" 
            id="btn-historico"
        >
            <i class="botao historico"></i>
            Meus Agendamentos
        </button>
    </header>