<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    
    <title>Cadastro da empresa | Agenda System</title>
</head>
<body>
    <!-- ============================================================
     TELA 3: DADOS Do USUÁRIO
     ============================================================ -->
    <div id="tela-empresa" class="tela ativa">
         <div class="auth-container auth-container--largo">
            <div class="passo-indicador">
                <span class="passo">1. Dados do Usuário</span>
                <span class="passo-linha"></span>
                <span class="passo ativo">2. Endereço do Usuário</span>
                <span class="passo-linha"></span>
                <span class="passo">3. Finalizar cadastro</span>
            </div>

            <h1 class="tela__titulo">Dados do Usuário</h1>
            <p class="tela__subtitulo">Preencha as informações referente ao usuário</p>

            <!-- Os dados de preenchimento do formulário vem da session -->
            <form id="form-empresa" class="form-auth" action="/register/endereco" method="post" novalidate>  
                <div class="campo">
                    <label for="end-cep">CEP: </label>
                    <input type="text" value="{{ session['dados-endereco']['cep'] if session.get('dados-endereco') else '11.111-111' }}"  name="end-cep" id="end-cep" placeholder="00.000-000" autocomplete="off">
                    <span class="campo__erro" id="erro-cep"></span>
                </div>

                <div class="campo">
                    <label for="end-cidade">Cidade: </label>
                    <input type="text" value="{{ session['dados-endereco']['cidade'] if session.get('dados-endereco') else 'Serrote dos Bezerra' }}" name="end-cidade" id="end-cidade" placeholder="Informe a sua cidade" autocomplete="off">
                    <span class="campo__erro" id="erro-cidade"></span>
                </div>

                <div class="campo">
                    <label for="end-estado-sigla">Estado: </label>
                    <select id="emp-categoria" name="end-estado-sigla">
                        {% for estado_sigla in estado_siglas %}
                            <option value="{{ estado_sigla }}" 
                                {% if session.get('dados-endereco') and session['dados-endereco']['estado_sigla'] == estado_sigla %} selected {% endif %}>
                                {{ estado_sigla }}
                            </option>
                        {% endfor %}
                    </select>
                    <span class="campo__erro" id="erro-estado"></span>
                </div> <!-- Div do Estado fechada corretamente aqui -->

                <div class="campo">
                    <label for="end-logradouro">Logradouro: </label>
                    <input type="text" value="{{ session['dados-endereco']['logradouro'] if session.get('dados-endereco') else 'Zona Rural' }}" name="end-logradouro" id="end-logradouro" placeholder="Informe o nome da sua rua" autocomplete="off">
                    <span class="campo__erro" id="erro-logradouro"></span>
                </div>

                <div class="campo">
                    <label for="end-numero">Numero: </label>
                    <input type="number" value="{{ session['dados-endereco']['numero'] if session.get('dados-endereco') else '12' }}" name="end-numero" id="end-numero" placeholder="Número da sua casa/apartamento" autocomplete="off">
                    <span class="campo__erro" id="erro-numero"></span>
                </div>

                <div class="campo">
                    <label for="end-bairro">Bairro: </label>
                    <input type="text" value="{{ session['dados-endereco']['bairro'] if session.get('dados-endereco') else 'Zona Rural' }}" name="end-bairro" id="end-bairro" placeholder="Informe o seu bairro" autocomplete="off">
                    <span class="campo__erro" id="erro-bairro"></span>
                </div>

                <div class="campo">
                    <label for="end-sequencia">Sequência: </label>
                    <input type="text" value="{{ session['dados-endereco']['sequencia'] if session.get('dados-endereco') else 'casa 12' }}" name="end-sequencia" id="end-sequencia" placeholder="sequencia da casa: 1, 2" autocomplete="off">
                    <span class="campo__erro" id="erro-sequencia"></span>
                </div>

                <div class="campo">
                    <label for="end-complemento">Complemento: </label>
                    <input type="text" value="{{ session['dados-endereco']['complemento'] if session.get('dados-endereco') else 'Casa com Portão' }}" name="end-complemento" id="end-complemento" placeholder="casa/apartamento/bloco" autocomplete="off">
                    <span class="campo__erro" id="erro-complemento"></span>
                </div>

                <div class="nav-duplo">
                    <!-- Vai se usar js para o retorno da página anterior, pois aparecerá em dois fluxos diferentes -->
                    <button type="button" class="btn-ghost" onclick="window.location.href='/register'">Voltar</button>
                    <button type="submit" class="btn-primario">Próximo →</button>
                </div>
            </form>
        </div>
    </div>

    <div class="aviso" id="aviso"></div>

    <script src="{{ url_for('static', filename='js/address-register.js') }}"></script>
</body>
</html>