<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    
    <title>Cadastro da empresa | Agenda System</title>
</head>
<body>
    <!-- ============================================================
     TELA 3: DADOS Do USUÁRIO
     ============================================================ -->
    <div id="tela-empresa" class="tela ativa">
         <div class="auth-container auth-container--largo">
            <div class="passo-indicador">
               
                 <span class="passo">1. Dados do Usuário</span>
                <span class="passo-linha"></span>
                <span class="passo">2. Endereço   {% if tipoEndereco == 0 %} do Usuário {% else %} da Empresa {% endif %} </span>
                <span class="passo-linha"></span>
                <span class="passo ativo">3. Finalizar cadastro</span>
               </div>

            <h1 class="tela__titulo">Finalizar o cadastro do usuário</h1>
            <p class="tela__subtitulo">Varifique e confirme as informações referente usuário</p>

               <div class="nav-duplo">
                      
                    <a class="btn-ghost" href="/register/endereco">Voltar e corrigir informações</a>
                    <a class="btn-ghost" href="/register/usuario-categoria">Finalizar Cadastro →</a>
                </div>
        </div>
    </div>

    <div class="aviso" id="aviso"></div>

    <script src="{{ url_for('static', filename='js/cadastroEmpresa.js') }}"></script>
</body>
</html>