<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    
    <title>Cadastro da empresa | Agenda System</title>
</head>
<body>
    <!-- ============================================================
     TELA 3: DADOS Do USUÁRIO
     ============================================================ -->

     
    <div id="tela-empresa" class="tela ativa">
         <div class="auth-container auth-container--largo">
            
            <div class="passo-indicador">
                
                <span class="passo ativo">1. Dados do Usuário</span>
                <span class="passo-linha"></span>
                <span class="passo">2. Endereço do Usuário</span>
                <span class="passo-linha"></span>
                <span class="passo">3. Finalizar cadastro</span>
            </div>

            <h1 class="tela__titulo">Dados do Proprietário</h1>
            <p class="tela__subtitulo">Preencha as informações referente ao proprietário/p>

            <form id="form-empresa" class="form-auth" action="/register/endereco" method="post" enctype="multipart/form-data" novalidate>
                <div class="campo">
                    <label for="prop-nome">Nome</label>
                    <input type="text" value="Teste" id="prop-nome" name="nome" placeholder="Ex: nome do proprietário" autocomplete="off">
                    <span class="campo__erro" id="erro-prop-nome"></span>
                </div>

                <div class="campo">
                    <label for="prop-sobrenome">Sobrenome</label>
                    <input type="text" value="Testinha" id="prop-sobrenome" name="sobrenome" placeholder="Ex: sobrenome do proprietário" autocomplete="off">
                    <span class="campo__erro" id="erro-prop-sobrenome"></span>
                </div>

                <div class="campo">
                    <label for="prop-cpf">CPF</label>
                    <input type="text" value="000.000.000-00" id="prop-cpf" name="cpf" placeholder="000.000.000-00" maxlength="14" autocomplete="off">
                    <span class="campo__erro" id="erro-prop-cpf"></span>
                </div>

                <div class="campo">
                    <label for="prop-telefone">Telefone:</label>
                    <input type="tel" value="(84) 00000.0000" id="prop-telefone" name="telefone" placeholder="(84) 00000.0000" maxlength="15" autocomplete="off">
                    <span class="campo__erro" id="erro-prop-telefone"></span>
                </div>

                <div class="campo">
                    <label for="prop-email">E-mail:</label>
                    <input type="email" value="emaildoproprietario@gmail.com" id="prop-email" name="email" placeholder="emaildoproprietario@gmail.com" maxlength="70" autocomplete="off">
                    <span class="campo__erro" id="erro-prop-email"></span>
                </div>   

                <div class="campo">
                    <label for="prop-senha">Senha:</label>
                    <input type="password" value="*************" id="prop-senha" name="senha" placeholder="*************" autocomplete="off">
                    <span class="campo__erro" id="erro-prop-senha"></span>
                </div>  

                <div class="campo">
                    <label for="prop-foto">Foto (3x4)</label>
                    <input type="text" value="foto.jpg" id="prop-foto" name="foto" accept="image/*" autocomplete="off">
                    <span class="campo__erro" id="erro-prop-foto"></span>
                </div>         

                <input type="number" name="tipo_end" value="0" hidden>

                <div class="nav-duplo">
                    <button type="button" class="btn-ghost" onclick="history.go(-1)">Voltar</button>
                    <button type="submit" class="btn-primario">Próximo →</button>
                </div>
            </form>
        </div>
    </div>

    <div class="aviso" id="aviso"></div>

    <script src="{{ url_for('static', filename='js/user-register.js') }}"></script>
</body>
</html>